
@{

    ViewBag.Title = "Home";
    Layout = "~/Areas/Admin/Views/Shared/layoutDeat.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        @Html.Partial("_Cuadros", "", new ViewDataDictionary { { "estadisticas", ViewData["estadisticas"] } })

        @*@Html.Partial("_Cuadros")*@

    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Gráficas
                    <div class="pull-right">
                       
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="morris-area-chart"></div>

                    <div id="mychart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->


        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Panel de notificaciones
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <i class="fa fa-comment fa-fw"></i> New Comment
                            <span class="pull-right text-muted small">
                                <em>4 minutes ago</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                            <span class="pull-right text-muted small">
                                <em>12 minutes ago</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-envelope fa-fw"></i> Message Sent
                            <span class="pull-right text-muted small">
                                <em>27 minutes ago</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-tasks fa-fw"></i> New Task
                            <span class="pull-right text-muted small">
                                <em>43 minutes ago</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-upload fa-fw"></i> Server Rebooted
                            <span class="pull-right text-muted small">
                                <em>11:32 AM</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                            <span class="pull-right text-muted small">
                                <em>11:13 AM</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-warning fa-fw"></i> Server Not Responding
                            <span class="pull-right text-muted small">
                                <em>10:57 AM</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                            <span class="pull-right text-muted small">
                                <em>9:49 AM</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-money fa-fw"></i> Payment Received
                            <span class="pull-right text-muted small">
                                <em>Yesterday</em>
                            </span>
                        </a>
                    </div>
                    <!-- /.list-group -->
                    <a href="#" class="btn btn-default btn-block">Ver todas las alertas</a>
                </div>
                <!-- /.panel-body -->
            </div>

        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->


@section Scripts {
    <script src="@Url.Content("~/Admin/vendor/raphael/raphael.min.js")"></script>
    <script src="@Url.Content("~/Admin/vendor/morrisjs/morris.min.js")"></script>
    @*<script src="@Url.Content("~/Admin/data/morris-data.js")"></script>*@

    <script>
         $(document).ready(function() {
             //Morris.Bar({
             //    element: 'mychart',
             //    data: [
             //        { date: '04-02-2014', value: 3 },
             //        { date: '04-03-2014', value: 10 },
             //        { date: '04-04-2014', value: 5 },
             //        { date: '04-05-2014', value: 17 },
             //        { date: '04-06-2014', value: 6 }
             //    ],
             //    xkey: 'date',
             //    ykeys: ['value'],
             //    labels: ['Orders']
             //});

             $(function () {

                 // Create a Bar Chart with Morris
                 var chart = Morris.Bar({
                     // ID of the element in which to draw the chart.
                     element: 'mychart',
                     data: [0, 0], // Set initial data (ideally you would provide an array of default data)
                     xkey: 'key', // Set the key for X-axis
                     ykeys: ['cnt'], // Set the key for Y-axis
                     labels: ['Cantidad'] // Set the label when bar is rolled over
                 });
              




             // Fire off an AJAX request to load the data
             $.ajax({
                 type: "GET",
                 dataType: 'json',
                 url: "/Admin/Home/GetData" // This is the URL to the API
                 //data: { days: 7 } // Passing a parameter to the API to specify number of days
             })
                 .done(function (data) {
                     // When the response to the AJAX request comes back render the chart with new data
                     chart.setData(data);
                 })
                 .fail(function () {
                     // If there is no communication between the server, show an error
                     alert("error occured");
                 });
      
             });

     
    });
    </script>
}



