form {
    position: relative;
}

.block-loading {
    z-index: 9999;
    background: url(../Content/images/ajax-loader.gif) #ddd center center no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0.4;
}

#largeText {
    overflow: hidden;
    width: 100px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/*table {
    table-layout: fixed;
}

    table td {
        word-wrap: break-word;
        max-width: 400px;
    }*/

#Grid td {
    white-space: inherit;
}

.text-wrap {
    white-space: normal;
}

.width-200 {
    width: 200px;
}